[project]
name = "web-service"
version = "0.1.0"
description = "Generaral purpose web-service"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.0",
    "uvicorn>=0.40.0",
]
